.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

  li a:hover:not(.active) {
    background-color:#00b3b3;
  }

  .split {
    height: 60%;
    width: 100%;
    background-image: "tp\src\assets\logo2.jpg";
    position: fixed;
    z-index: 1;
    top: 7;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
 .aa {
  font-family:"Florence", cursive;
  font-size: 20px;
 } 