<router-outlet></router-outlet>
<div class="img">
    <p style='text-align:center'>
        <img src='assets/tp.jpg' width='350px' height='200px'>
        <br>
      </p>
      <p class='aa' style='text-align:center'>You are browsing the best resource for Online Education</p>
    
    
    <!----<button type="button" (click) ='fun1()'>Click Me</button>
    
    <a href="#" routerLink='p1' routerLinkActive='active'>About Us</a> -->
    <div class='container' style='text-align: center'> 
      
    <form action ="https://www.google.com/search" method="GET">
      <input type="text" name="q" placeholder="Google Search">
      <input type="submit" value="Google Search">
    </form>
    <br>
<br>
<br>
<br>

    </div>
</div>

<br>
<br>

<div class="container">
    <h3  style='text-align:center'>Tutorials Library</h3>
  <div class="jumbotron">
      <h3> Computer Science</h3>
      <div class="row">
          <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
            <a href= "https://www.tutorialspoint.com/computer_fundamentals/index.htm">
            
            <img src="./assets/cf.jpg" height='100px' width='120px' class="zoom"></a>
            <p>Computer Fundamentals</p>
            
          </div>
          <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
            <a href="https://www.tutorialspoint.com/compiler_design/index.htm">
            <img src="./assets/cd.jpg" height='100px' width='100px'  class="zoom"></a>
            <p>Complier Design</p>
        
          </div>
          <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
            <a href="https://www.tutorialspoint.com/operating_system/index.htm">
            <img src="./assets/os.jpg" height='100px' width='100px'  class="zoom"></a>
            <p>Operating system</p>
          
          </div>
          
            
          
                  <!-- buttons in jumbotron -->
      </div>
  </div>
</div>
<div class="container">
    
    <div class="jumbotron">
        <h3> Computer Science</h3>
        <div class="row">
            <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
              <a href= "https://www.tutorialspoint.com/computer_fundamentals/index.htm">
              <img src="./assets/cf.jpg" height='100px' width='120px'  class="zoom"></a>
              <p>Computer Fundamentals</p>
              
            </div>
            <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
              <a href="https://www.tutorialspoint.com/compiler_design/index.htm">
              <img src="./assets/cd.jpg" height='100px' width='100px'  class="zoom"></a>
              <p>Complier Design</p>
          
            </div>
            <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
              <a href="https://www.tutorialspoint.com/operating_system/index.htm">
              <img src="./assets/os.jpg" height='100px' width='100px'  class="zoom"></a>
              <p>Operating system</p>
            
            </div>
            
              
            
                    <!-- buttons in jumbotron -->
        </div>
    </div>
  </div>
  <div class="container">
   <div class="row">
     <div class="col-md-6">
      <div class="jumbotron">
          <h3> Computer Science</h3>
          <div class="row">
              <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
                <a href= "https://www.tutorialspoint.com/computer_fundamentals/index.htm">
                <img src="./assets/cf.jpg" height='100px' width='120px'  class="zoom"></a>
                <p>Computer Fundamentals</p>
                
              </div>
              <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
                <a href="https://www.tutorialspoint.com/compiler_design/index.htm">
                <img src="./assets/cd.jpg" height='100px' width='100px'  class="zoom"></a>
                <p>Complier Design</p>
            
              </div>
              <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
                <a href="https://www.tutorialspoint.com/operating_system/index.htm">
                <img src="./assets/os.jpg" height='100px' width='100px'  class="zoom"></a>
                <p>Operating system</p>
              
              </div>
              
                
              
                      <!-- buttons in jumbotron -->
          </div>
      </div>
     </div>
     <div class="col-md-6">
      <div class="jumbotron">
        <h3> Computer Science</h3>
        <div class="row">
            <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
              <a href= "https://www.tutorialspoint.com/computer_fundamentals/index.htm">
              <img src="./assets/cf.jpg" height='100px' width='120px'  class="zoom"></a>
              <p>Computer Fundamentals</p>
              
            </div>
            <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
              <a href="https://www.tutorialspoint.com/compiler_design/index.htm">
              <img src="./assets/cd.jpg" height='100px' width='100px'  class="zoom"></a>
              <p>Complier Design</p>
          
            </div>
            <div class="col-md-4">. <!-- md-mediumscreen sm-smallscreen xs-extrasmallscreen -->
              <a href="https://www.tutorialspoint.com/operating_system/index.htm">
              <img src="./assets/os.jpg" height='100px' width='100px' ></a>
              <p>Operating system</p>
            
            </div>
            
              
            
                    <!-- buttons in jumbotron -->
        </div>
      </div>
     </div>
   </div>
    </div>
<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/jeet_183"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/sarahgawde/?hl=en"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
	
		</div>
	</section>